

# include requirements files
include requirements/base.in
include requirements/base.txt
include requirements/extra-*.in
include requirements/extra-*.txt

# include data folders for cogs
recursive-include grief/**/data *

# include *.export files from the test fixtures
recursive-include grief *.export

# include the py.typed file informing about Red being typed
recursive-include grief py.typed

# include *.sql files from postgres driver
recursive-include grief/core/_drivers/postgres *.sql

# include tests
graft tests

# include tox configuration
include tox.ini

# exclude files containing byte-code and compiled libs
global-exclude *.py[cod]
